<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Ossi Hanhinen{% if page.title %} - {{ page.title }}{% endif %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="css/main.css">
  <meta http-equiv="refresh" content="3; url=http://ohanhi.com/" />
</head>
<body>

  <section class="contain post">
    This site has moved to <a href="http://ohanhi.com/">http://ohanhi.com/</a>
  </section>

</body>
</html>
