<!DOCTYPE html>
<html class="no-js">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{% if page.title %}{{ page.title }} - {% endif %}Ossi Hanhinen</title>
  <meta name="description" content="{{ page.title }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% feed_meta %}
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,300|Crimson+Text' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/lib/highlight/github.css">
  <script src="/lib/highlight/highlight.pack.js"></script>
  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/main.css">
  <meta http-equiv="refresh" content="3; url=http://ohanhi.com{{ page.url }}" />
</head>
<body>

  <section class="contain post">
    This site has moved to <a href="http://ohanhi.com{{ page.url }}">http://ohanhi.com{{ page.url }}</a>
  </section>

</body>
</html>
